.navbar {
  align-items: center;

  .navbar-brand {
    @include pxRem(padding, 10 20);
    @include pxRem(font-size, 20);
    font-weight: map-get($map: $font-weight, $key: font-regular);
  }

  .nav.nav-pills {
    .active {
      background-color: map-get($map: $colors, $key: primary-color);
      color: map-get($map: $colors, $key: color-background);
      @include pxRem(border-radius, 5);

      .dropdown .btn-all {
        @include pxRem(border-radius, 5);
        background-color: map-get($map: $colors, $key: primary-color);
      }
    }

    .nav-link2 {
      @include pxRem(padding, 3 10);
      @include pxRem(font-size, 16);
    }
  }
}

.navbar2 {
  @include pxRem(padding, 20);

  .navbar-brand {
    @include pxRem(padding, 0);
  }

  .nav2 {
    a {
      color: map-get($map: $colors, $key: primary-color);
    }

    .nav-item2 {
      @include pxRem(margin-left, 20);
    }

    &>* {
      @include pxRem(margin-top, 3);
    }
  }
}

.scrollspy-example {
  position: relative;
  scroll-behavior: smooth;
  @include pxRem(height, 200);
  overflow-y: scroll;

  h4 {
    @include pxRem(font-size, 24);
  }

  p {
    @include pxRem(font-size, 16);
  }

  &.nested {
    @include pxRem(height, 350);
    @include pxRem(padding, 0 20);
  }

  &.ex-list-group {
    @include pxRem(padding, 0 20);
  }
}

.example-list-group a {
  color: map-get($map: $colors, $key: primary-color);

  &:first-child {
    @include pxRem(border-top-left-radius, 4);
    @include pxRem(border-top-right-radius, 4);
  }

  &:last-child {
    @include pxRem(border-bottom-left-radius, 4);
    @include pxRem(border-bottom-right-radius, 4);
  }
}